{% extends 'base.html' %}
{% block title %}Login - AIM3 Hotels{% endblock %}
{% block content %}
<section class="section-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="login-form">
                    <h2 class="form-title">Welcome Back!</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}